# Personal Information
NEXT_PUBLIC_BRAND_NAME=asradesign
NEXT_PUBLIC_EMAIL=asrammutlu@gmail.com
NEXT_PUBLIC_PHONE=+5555555555
NEXT_PUBLIC_LOCATION=Germany

# About Section
NEXT_PUBLIC_ABOUT_TEXT=Hi! I’m Azra, a passionate UI/UX designer with a curious mind and a strong drive to create user-centered digital experiences. I believe that great design lives at the intersection of empathy and functionality. My work focuses on simplifying complex problems and turning ideas into intuitive, meaningful, and visually engaging interfaces.
I have hands-on experience with tools like Figma, Adobe XD, and HTML/CSS, and I love collaborating with developers and product teams to bring concepts to life. Whether I’m wireframing a new app or refining a user flow, I always design with purpose—and people—in mind.
Outside of design, I’m constantly learning, sketching ideas, and finding inspiration in the smallest details of everyday life.


# Skills Section
NEXT_PUBLIC_SKILLS_DESCRIPTION=I approach design with a strong focus on user experience, blending aesthetics with functionality to create intuitive digital products. I use Figma as my primary design tool—leveraging its powerful features like components, auto layout, and interactive prototyping to build scalable and consistent interfaces. From wireframing early ideas to creating high-fidelity mockups and responsive UI designs, I ensure that every element aligns with both user needs and business goals. I also collaborate seamlessly with developers and stakeholders by using design systems and shared libraries in Figma, which helps keep workflows efficient and communication clear. In addition to Figma, I’m comfortable with tools like Adobe XD, FigJam for brainstorming, and Notion or Trello for project organization. My goal is to craft meaningful digital experiences that feel effortless and engaging.

# Footer Section
NEXT_PUBLIC_FOOTER_DESCRIPTION=I design clean, user-friendly digital experiences that solve real problems. From wireframes to final UI, I use tools like Figma to create responsive, consistent, and engaging interfaces. I combine creative thinking with clear communication to help clients turn ideas into intuitive products.

# Social Media Links
NEXT_PUBLIC_SOCIAL_WEBSITE=https://azramutlu.com

NEXT_PUBLIC_GITHUB_LINK=https://github.com/azramutlu

# SEO & Meta
NEXT_PUBLIC_SITE_TITLE=Azra Mutlu - UI/UX Designer
NEXT_PUBLIC_SITE_DESCRIPTION=Azra Mutlu is a UI/UX designer with a passion for creating user-centered digital experiences.

# Company Info
NEXT_PUBLIC_COPYRIGHT_YEAR=2025
NEXT_PUBLIC_COPYRIGHT_TEXT=All rights reserved.